<form class="sheet" id="char-sheet">
    <input type="hidden" name="id" value="character-uuid-goes-here" />
    <div class="sheet-header block">
        <div style="margin: 5px 0px 10px 5px"><b>Level 4</b></div>
        <div class="header-row">
            <div class="header-column">
                <!--row-->
                <div>
                    <input type="text" name="name" value="John Placeholder" />
                    <div class="header-label">Name</div>
                </div>
                <div>
                    <input type="text" name="class" value="Fighter" />
                    <div class="header-label">Class/Subclass</div>
                </div>
            </div>
            <div class="header-column">
                <!--row-->
                <div>
                    <input type="text" name="background" value="Acolyte" />
                    <div class="header-label">Background</div>
                </div>
                <div class="header-item">
                    <input type="text" name="race" value="Elf" />
                    <div class="header-label">Race</div>
                </div>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="stats block">
            <b>Strength</b>
            <div>
                <div class="score">
                    <input name="strength" type="text" value="10" />
                </div>
            </div>
            <b>Dexterity</b>
            <div>
                <div class="score">
                    <input name="dexterity" type="text" value="10" />
                </div>
            </div>
            <b>Constitution</b>
            <div>
                <div class="score">
                    <input name="constitution" type="text" value="10" />
                </div>
            </div>
            <b>Wisdom</b>
            <div>
                <div class="score">
                    <input name="wisdom" type="text" value="10" />
                </div>
            </div>
            <b>Intelligence</b>
            <div>
                <div class="score">
                    <input name="intelligence" type="text" value="10" />
                </div>
            </div>
            <b>Charisma</b>
            <div>
                <div class="score">
                    <input name="charisma" type="text" value="10" />
                </div>
            </div>
        </div>
        <div class="sheet-center">
            <div
                id="top-center"
                style="
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                "
            >
                <div class="block" style="width: 28%">
                    <b>AC</b><br />
                    <input
                        type="text"
                        name="ac"
                        value="15"
                    />
                </div>
                <div class="block" style="width: 28%">
                    <b>Initiative</b><br />
                    <input
                        type="text"
                        name="initiative"
                        value="+2"
                    />
                </div>
                <div class="block" style="width: 28%">
                    <b>Speed</b><br />
                    <input
                        type="text"
                        name="speed"
                        value="30"
                    />
                </div>
            </div>
            <div class="block" style="margin: 10px 0px 10px 0px">
                <b>Attacks and Spellcasting</b>
                <button class="weapon block">
                    <div>Longsword</div>
                    <div>+5</div>
                    <div>1d10 + 5</div>
                </button>
                <button class="weapon block">
                    <div>Longsword</div>
                    <div>+5</div>
                    <div>1d10 + 5</div>
                </button>
            </div>
            <div style="display: flex;width: 100%;height: 60%;flex-direction: row;justify-content: space-between;">
                <div style="display: flex;flex-direction: column; row-gap: 8px; width:46%">
                    <div style="width:100%" class="block">
                        <b>Strength</b>
                    </div>
                    <div style="width:100%" class="block">
                        <b>Dexterity</b>
                    </div>
                    <div style="width:100%" class="block">
                        <b>Constitution</b>
                    </div>
                </div>
                <div style="display: flex;flex-direction: column; row-gap: 8px; width:46%">
                    <div style="width:100%" class="block">
                        <b>Wisdom</b>
                    </div>
                    <div style="width:100%" class="block">
                        <b>Intelligence</b>
                    </div>
                    <div style="width:100%" class="block">
                        <b>Charisma</b>
                    </div>
                </div>
            </div>
        </div>
        <div class="sheet-right">
            <button class="block">View Personality Traits</button>
            <button class="block">View Ideals</button>
            <button class="block">View Bonds</button>
            <button class="block">View Flaws</button>
            <div class="block">
                <button class="block" style="width: 100%; margin-bottom: 4px">
                    Lucky
                </button>
                <button class="block" style="width: 100%">
                    Halfling Nimbleness
                </button>
            </div>
        </div>
    </div>
    <input
        class="submit-btn"
        style="width: 100%"
        hx-indicator="#char-sheet"
        hx-post="/upload"
        hx-target="#char-sheet"
        type="submit"
        value="Submit"
    />
</form>
