<!DOCTYPE html>
<script src="https://unpkg.com/htmx.org@1.9.10"></script>
<html>

<head>
    <link rel="stylesheet" href="/static/main.css">
</head>
<title>Dungeon Daddy</title>

<body>
    <!--Navbar-->
    <div>
        <ul class="navbar">
            <li><img style="width:25px; padding-right: 5px;" src="static/icon.bmp"></li>
            <li style="flex-grow: 2;">
                <h2>Dungeon Daddy</h1>
            </li>
            <li hx-get="/" hx-target="main-page" hx-swap="innerHTML" style="flex-grow: 1;">
                <h3>create characters</h3>
            </li>
            <li style="flex-grow: 1;">
                <h3>view characters</h3>
            </li>
            <li style="flex-grow: 1;">
                <h3>upload notes</h3>
            </li>
        </ul>
    </div>

    <!--main body of the page-->
    <div class="page" id="main-page">
        <div class="sheet" id="char-sheet">
            <div class="sheet-header block">
                <div>Level 4</div>
                <div class="header-row">
                    <div class="header-column"> <!--row-->
                        <div>
                            <div style="border-bottom: 1px solid darkgray;">John Placeholder</div>
                            <div style="font-size: small; margin-right: 5px">Name</div>
                        </div>
                        <div>
                            <div style="border-bottom: 1px solid darkgray;">Fighter</div>
                            <div style="font-size: small;">Class/Subclass</div>
                        </div>
                    </div>
                    <div class="header-column"> <!--row-->
                        <div>
                            <div style="border-bottom: 1px solid darkgray;">Acolyte</div>
                            <div style="font-size: small; margin-right: 5px">Background</div>
                        </div>
                        <div class="header-item">
                            <div style="border-bottom: 1px solid darkgray;">Elf</div>
                            <div style="font-size: small;">Race</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main">
                <div class="stats block">
                    <b>Strength</b>
                    <div>
                        <div class="score">
                            <h2 style="padding: 10px;">4</h2>
                        </div>
                    </div>
                    <b>Dexterity</b>
                    <div>
                        <div class="score">
                            <h2 style="padding: 10px;">5</h2>
                        </div>
                    </div>
                    <b>Constitution</b>
                    <div>
                        <div class="score">
                            <h2 style="padding: 10px;">8</h2>
                        </div>
                    </div>
                    <b>Wisdom</b>
                    <div>
                        <div class="score">
                            <h2 style="padding: 10px;">0</h2>
                        </div>
                    </div>
                    <b>Intelligence</b>
                    <div>
                        <div class="score">
                            <h2 style="padding: 10px">10</h2>
                        </div>
                    </div>
                    <b>Charisma</b>
                    <div>
                        <div class="score">
                            <h2 style="padding: 10px;">20</h2>
                        </div>
                    </div>
                </div>
                <div class="sheet-center">
                    <div style="display: flex; flex-direction: row; justify-content: space-between;">
                        <div class="block" style="width: 28%">AC<br> 69</div>
                        <div class="block" style="width: 28%">Initiative<br> +5 </div>
                        <div class="block" style="width: 28%">Speed<br> 35 </div>
                    </div>
                </div>
                <div class="sheet-right">
                    <button class="block"> View Personality Traits</button>
                    <button class="block"> View Ideals</button>
                    <button class="block"> View Bonds</button>
                    <button class="block"> View Flaws</button>
                    <div class="block">
                        <button class="block" style="width:100%; margin-bottom: 4px;">Lucky</button>
                        <button class="block" style="width:100%">Halfling Nimbleness</button>
                    </div>
                </div>
            </div>
        </div>

        <!--prompt option form-->
        <form class="prompt-form">
            <textarea class="prompt-text" id="prompt" name="prompt"
                placeholder="Enter your character description here..."></textarea>
            <div style="display: grid; gap: 30px;">
                <span>
                    <input type="checkbox" id="appearance" name="appearance" value="true">
                    <label for="appearance">Appearance</label>
                </span>
                <span>
                    <input type="checkbox" id="feats" name="feats" value="true">
                    <label for="ability">Feats</label>
                </span>
                <span style="grid-column-start: 3;">
                    <input type="checkbox" id="spells" name="spells" value="true">
                    <label for="spells">Spells</label>
                </span>
            </div>
            <input class="submit-btn" hx-indicator="#char-sheet" hx-post="/character" hx-target="#char-sheet"
                hx-swap="outerHTML" type="submit" value="Submit">
        </form>


    </div> <!--end main page-->

</body>

</html>
