<div style="width: 100%; height: 100%">
    <h1 style="padding: 20px">Characters</h1>
    <div class="name-tile block">
        <h1>john smith</h1>
    </div>
    <div class="name-tile block">
        <h1>john smith</h1>
    </div>
    <div class="name-tile block">
        <h1>john smith</h1>
    </div>
    <div class="name-tile block">
        <h1>john smith</h1>
    </div>
    <div class="name-tile block">
        <h1>john smith</h1>
    </div>
    <div class="name-tile block">
        <h1>john smith</h1>
    </div>
    <div class="name-tile block">
        <h1>john smith</h1>
    </div>
    <div class="name-tile block">
        <h1>john smith</h1>
    </div>
    <div class="name-tile block">
        <h1>john smith</h1>
    </div>
</div>
